@import "~govuk-frontend/govuk/vendor/_sass-mq";
@import "~govuk-frontend/govuk/settings/spacing";
@import "~govuk-frontend/govuk/helpers/spacing";

@include mq($from: tablet) {
  .task-versions .govuk-accordion__section-summary {
    display: flex;
    justify-content: space-between;
  }

  .task-versions--right {
    margin-top: -40px;
  }
}

.task-versions--highlight {
  border-bottom: 3px solid #ffbf47;
  margin-right: 1px;
  background-color: #fff2d3;
  padding: 2px 0 0;
}

@include mq($from: tablet) {
  .task-actions--buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 20pt;
  }
}
